In [43]:
import pandas as pd
import numpy as np

In [70]:
df = pd.read_csv("final_data.csv")
df.head(1)

,event_type,event_name,date,lat,lng,continent,country_code,created_time,latitude,longitude,temperature,max_temperature,min_temperature,humidity,wind_speed,precipitation,uv_index,condition
0,EQ,NORTHERN ALASKA,09-05-2024,65.8812,-152.2179,nar,USA,05-09-2024 14:35,65.8812,-152.2179,0.6,3,-3.1,97,8.3,0.03,1,Light snow

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7801 entries, 0 to 7800
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   event_type       7801 non-null   object
 1   event_name       7801 non-null   object
 2   date             7801 non-null   object
 3   lat              7801 non-null   float64
 4   lng              7801 non-null   float64
 5   continent        7801 non-null   object
 6   country_code     7801 non-null   object
 7   created_time     7801 non-null   object
 8   latitude         7801 non-null   float64
 9   longitude        7801 non-null   float64
 10  temperature      7801 non-null   object
 11  max_temperature  7801 non-null   object
 12  min_temperature  7801 non-null   object
 13  humidity         7801 non-null   object
 14  wind_speed       7801 non-null   object
 15  precipitation    7801 non-null   object
 16  uv_index         7801 non-null   object
 17  condition        7801 non-null   object
dtypes: float64(4), object(14)
memory usage: 1.1+ MB

In [72]:
df['date'] = pd.to_datetime(df['date'],format='mixed')

In [73]:
df.drop(['lat','lng','created_time'],axis=1,inplace=True)

In [74]:
df

,event_type,event_name,date,continent,country_code,latitude,longitude,temperature,max_temperature,min_temperature,humidity,wind_speed,precipitation,uv_index,condition
0,EQ,NORTHERN ALASKA,2024-09-05,nar,USA,65.881200,-152.217900,0.6,3,-3.1,97,8.3,0.03,1,Light snow
1,DR,"Drought in Guatemala, Honduras, Mexico, Nicaragua",2024-09-05,nar,MEX,18.500000,-99.000000,28.2,36.6,20,31,21.2,1.85,8,Patchy rain possible
2,DR,Drought in Canada,2024-09-05,nar,CAN,53.500000,-116.000000,12.8,22.2,3.8,46,15.1,0,6,Sunny
3,EQ,CALIFORNIA-NEVADA BORDER REGION,2024-09-04,nar,USA,36.523300,-115.540000,13.5,20.1,6.8,24,15.8,0,6,Sunny
4,EQ,CENTRAL CALIFORNIA,2024-09-04,nar,USA,37.282500,-119.999000,14.8,21.5,8.8,61,8.3,0,6,Sunny
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7796,TC,Tropical Cyclone GORDON-24,2024-09-17,ocean,PRT,27.600000,-44.600000,Null,Null,Null,Null,Null,Null,Null,Null
7797,EQ,Earthquake in,2024-10-09,ocean,SGS,-55.804167,-25.196055,Null,Null,Null,Null,Null,Null,Null,Null
7798,EQ,M 5.0 - Mid-Indian Ridge,2024-09-09,ocean,MUS,-22.451091,69.220800,Null,Null,Null,Null,Null,Null,Null,Null
7799,EQ,MID-INDIAN RIDGE,2024-09-09,ocean,MUS,-22.500100,69.220800,Null,Null,Null,Null,Null,Null,Null,Null
7800,EQ,M 5.1 - South Sandwich Islands region,2024-08-09,ocean,SGS,-56.566791,-27.234200,Null,Null,Null,Null,Null,Null,Null,Null

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7801 entries, 0 to 7800
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   event_type       7801 non-null   object
 1   event_name       7801 non-null   object
 2   date             7801 non-null   datetime64[ns]
 3   continent        7801 non-null   object
 4   country_code     7801 non-null   object
 5   latitude         7801 non-null   float64
 6   longitude        7801 non-null   float64
 7   temperature      7801 non-null   object
 8   max_temperature  7801 non-null   object
 9   min_temperature  7801 non-null   object
 10  humidity         7801 non-null   object
 11  wind_speed       7801 non-null   object
 12  precipitation    7801 non-null   object
 13  uv_index         7801 non-null   object
 14  condition        7801 non-null   object
dtypes: datetime64[ns](1), float64(2), object(12)
memory usage: 914.3+ KB

In [76]:
df.replace('Null', np.nan, inplace=True)

In [77]:
df[['temperature', 'max_temperature', 'humidity', 'wind_speed', 'precipitation', 'uv_index']] = df[['temperature', 'max_temperature', 'humidity', 'wind_speed', 'precipitation', 'uv_index']].astype('float64')

In [78]:
df['continent'].unique()

array(['nar', 'asia', 'sar', 'ant', 'afr', 'eur', 'aus', 'ocean'],
      dtype=object)

In [79]:
nar = df[df['continent']=='nar']
asia = df[df['continent']=='asia']
sar = df[df['continent']=='sar']
ant = df[df['continent']=='ant']
afr = df[df['continent']=='afr']
eur = df[df['continent']=='eur']
aus = df[df['continent']=='aus']
ocean = df[df['continent']=='ocean']

In [80]:
nar

,event_type,event_name,date,continent,country_code,latitude,longitude,temperature,max_temperature,min_temperature,humidity,wind_speed,precipitation,uv_index,condition
0,EQ,NORTHERN ALASKA,2024-09-05,nar,USA,65.881200,-152.217900,0.6,3.0,-3.1,97.0,8.3,0.03,1.0,Light snow
1,DR,"Drought in Guatemala, Honduras, Mexico, Nicaragua",2024-09-05,nar,MEX,18.500000,-99.000000,28.2,36.6,20,31.0,21.2,1.85,8.0,Patchy rain possible
2,DR,Drought in Canada,2024-09-05,nar,CAN,53.500000,-116.000000,12.8,22.2,3.8,46.0,15.1,0.00,6.0,Sunny
3,EQ,CALIFORNIA-NEVADA BORDER REGION,2024-09-04,nar,USA,36.523300,-115.540000,13.5,20.1,6.8,24.0,15.8,0.00,6.0,Sunny
4,EQ,CENTRAL CALIFORNIA,2024-09-04,nar,USA,37.282500,-119.999000,14.8,21.5,8.8,61.0,8.3,0.00,6.0,Sunny
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6864,EQ,"M 2.5 - 9 km NW of Chiniak, Alaska",2024-08-09,nar,USA,57.723409,-152.399900,10.8,12.2,9.7,87.0,22.7,0.05,3.0,Overcast
6865,WF,Wildfire in United States 1022036,2024-08-09,nar,USA,34.360609,-117.701558,27.5,33.1,23.5,28.0,15.1,0.03,7.0,Patchy rain possible
6866,SW,Tropical Storm Francine,2024-11-09,nar,USA,26.449009,-94.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6867,TC,Tropical Cyclone FRANCINE-24,2024-10-09,nar,USA,26.512852,-94.215863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6868,FL,Flood in Guatemala,2024-09-09,nar,GTM,14.683569,-90.311099,19.0,23.2,15.9,90.0,6.8,7.81,5.0,Light rain shower

In [83]:
cols=['temperature','max_temperature','min_temperature','humidity','wind_speed','precipitation','uv_index']
nar[cols] = nar[cols].apply(pd.to_numeric, errors='coerce')
nar[cols] = nar[cols].fillna(nar[cols].mean())

C:\Users\infor\AppData\Local\Temp\ipykernel_14324\1135717689.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nar[cols] = nar[cols].apply(pd.to_numeric, errors='coerce')
C:\Users\infor\AppData\Local\Temp\ipykernel_14324\1135717689.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nar[cols] = nar[cols].fillna(nar[cols].mean())

In [86]:
cols=['temperature','max_temperature','min_temperature','humidity','wind_speed','precipitation','uv_index']
asia[cols] = asia[cols].apply(pd.to_numeric, errors='coerce')
asia[cols] = asia[cols].fillna(asia[cols].mean())

C:\Users\infor\AppData\Local\Temp\ipykernel_14324\4170032469.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  asia[cols] = asia[cols].apply(pd.to_numeric, errors='coerce')
C:\Users\infor\AppData\Local\Temp\ipykernel_14324\4170032469.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  asia[cols] = asia[cols].fillna(asia[cols].mean())

In [87]:
cols=['temperature','max_temperature','min_temperature','humidity','wind_speed','precipitation','uv_index']
sar[cols] = sar[cols].apply(pd.to_numeric, errors='coerce')
sar[cols] = sar[cols].fillna(sar[cols].mean())

C:\Users\infor\AppData\Local\Temp\ipykernel_14324\2620306357.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sar[cols] = sar[cols].apply(pd.to_numeric, errors='coerce')
C:\Users\infor\AppData\Local\Temp\ipykernel_14324\2620306357.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sar[cols] = sar[cols].fillna(sar[cols].mean())

In [88]:
cols=['temperature','max_temperature','min_temperature','humidity','wind_speed','precipitation','uv_index']
ant[cols] = ant[cols].apply(pd.to_numeric, errors='coerce')
ant[cols] = ant[cols].fillna(ant[cols].mean())

C:\Users\infor\AppData\Local\Temp\ipykernel_14324\2121620551.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ant[cols] = ant[cols].apply(pd.to_numeric, errors='coerce')
C:\Users\infor\AppData\Local\Temp\ipykernel_14324\2121620551.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ant[cols] = ant[cols].fillna(ant[cols].mean())

In [89]:
cols=['temperature','max_temperature','min_temperature','humidity','wind_speed','precipitation','uv_index']
afr[cols] = afr[cols].apply(pd.to_numeric, errors='coerce')
afr[cols] = afr[cols].fillna(afr[cols].mean())

C:\Users\infor\AppData\Local\Temp\ipykernel_14324\3236901263.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  afr[cols] = afr[cols].apply(pd.to_numeric, errors='coerce')
C:\Users\infor\AppData\Local\Temp\ipykernel_14324\3236901263.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  afr[cols] = afr[cols].fillna(afr[cols].mean())

In [90]:
cols=['temperature','max_temperature','min_temperature','humidity','wind_speed','precipitation','uv_index']
eur[cols] = eur[cols].apply(pd.to_numeric, errors='coerce')
eur[cols] = eur[cols].fillna(eur[cols].mean())

C:\Users\infor\AppData\Local\Temp\ipykernel_14324\103132577.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eur[cols] = eur[cols].apply(pd.to_numeric, errors='coerce')
C:\Users\infor\AppData\Local\Temp\ipykernel_14324\103132577.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eur[cols] = eur[cols].fillna(eur[cols].mean())

In [91]:
cols=['temperature','max_temperature','min_temperature','humidity','wind_speed','precipitation','uv_index']
aus[cols] = aus[cols].apply(pd.to_numeric, errors='coerce')
aus[cols] = aus[cols].fillna(aus[cols].mean())

C:\Users\infor\AppData\Local\Temp\ipykernel_14324\1101863936.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aus[cols] = aus[cols].apply(pd.to_numeric, errors='coerce')
C:\Users\infor\AppData\Local\Temp\ipykernel_14324\1101863936.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aus[cols] = aus[cols].fillna(aus[cols].mean())

In [92]:
cols=['temperature','max_temperature','min_temperature','humidity','wind_speed','precipitation','uv_index']
ocean[cols] = ocean[cols].apply(pd.to_numeric, errors='coerce')
ocean[cols] = ocean[cols].fillna(ocean[cols].mean())

C:\Users\infor\AppData\Local\Temp\ipykernel_14324\3337472595.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocean[cols] = ocean[cols].apply(pd.to_numeric, errors='coerce')
C:\Users\infor\AppData\Local\Temp\ipykernel_14324\3337472595.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocean[cols] = ocean[cols].fillna(ocean[cols].mean())

In [98]:
result = pd.concat([nar,asia,sar,afr,ant,eur,aus,ocean], axis=0)

In [99]:
result

,event_type,event_name,date,continent,country_code,latitude,longitude,temperature,max_temperature,min_temperature,humidity,wind_speed,precipitation,uv_index,condition
0,EQ,NORTHERN ALASKA,2024-09-05,nar,USA,65.881200,-152.217900,0.600000,3.0,-3.100000,97.000000,8.3,0.030000,1.000000,Light snow
1,DR,"Drought in Guatemala, Honduras, Mexico, Nicaragua",2024-09-05,nar,MEX,18.500000,-99.000000,28.200000,36.6,20.000000,31.000000,21.2,1.850000,8.000000,Patchy rain possible
2,DR,Drought in Canada,2024-09-05,nar,CAN,53.500000,-116.000000,12.800000,22.2,3.800000,46.000000,15.1,0.000000,6.000000,Sunny
3,EQ,CALIFORNIA-NEVADA BORDER REGION,2024-09-04,nar,USA,36.523300,-115.540000,13.500000,20.1,6.800000,24.000000,15.8,0.000000,6.000000,Sunny
4,EQ,CENTRAL CALIFORNIA,2024-09-04,nar,USA,37.282500,-119.999000,14.800000,21.5,8.800000,61.000000,8.3,0.000000,6.000000,Sunny
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7796,TC,Tropical Cyclone GORDON-24,2024-09-17,ocean,PRT,27.600000,-44.600000,23.366667,23.8,22.766667,72.666667,39.1,4.413333,5.333333,NaN
7797,EQ,Earthquake in,2024-10-09,ocean,SGS,-55.804167,-25.196055,23.366667,23.8,22.766667,72.666667,39.1,4.413333,5.333333,NaN
7798,EQ,M 5.0 - Mid-Indian Ridge,2024-09-09,ocean,MUS,-22.451091,69.220800,23.366667,23.8,22.766667,72.666667,39.1,4.413333,5.333333,NaN
7799,EQ,MID-INDIAN RIDGE,2024-09-09,ocean,MUS,-22.500100,69.220800,23.366667,23.8,22.766667,72.666667,39.1,4.413333,5.333333,NaN
7800,EQ,M 5.1 - South Sandwich Islands region,2024-08-09,ocean,SGS,-56.566791,-27.234200,23.366667,23.8,22.766667,72.666667,39.1,4.413333,5.333333,NaN

In [103]:
result[result['condition'].isna()].head()

,event_type,event_name,date,continent,country_code,latitude,longitude,temperature,max_temperature,min_temperature,humidity,wind_speed,precipitation,uv_index,condition
29,EQ,M 4.8 - off the coast of Central America,2024-09-02,nar,PAN,3.280309,-84.1767,22.643331,21.934948,12.827326,61.646641,20.705362,7.036919,5.270026,NaN
36,SW,Tropical Storm Hone,2024-09-01,nar,USA,26.149009,-179.8000,22.643331,21.934948,12.827326,61.646641,20.705362,7.036919,5.270026,NaN
52,SW,Tropical Storm Hone,2024-08-31,nar,USA,22.249009,-175.7000,22.643331,21.934948,12.827326,61.646641,20.705362,7.036919,5.270026,NaN
56,EQ,M 5.6 - Reykjanes Ridge,2024-08-30,nar,GRL,52.654709,-33.2661,22.643331,21.934948,12.827326,61.646641,20.705362,7.036919,5.270026,NaN
58,SW,Hurricane Gilma,2024-08-30,nar,USA,20.449009,-152.2000,22.643331,21.934948,12.827326,61.646641,20.705362,7.036919,5.270026,NaN

In [109]:
result.dropna(inplace=True)
result.to_csv("disaster_cleaned.csv")

In [110]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6755 entries, 0 to 7782
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   event_type       6755 non-null   object
 1   event_name       6755 non-null   object
 2   date             6755 non-null   datetime64[ns]
 3   continent        6755 non-null   object
 4   country_code     6755 non-null   object
 5   latitude         6755 non-null   float64
 6   longitude        6755 non-null   float64
 7   temperature      6755 non-null   float64
 8   max_temperature  6755 non-null   float64
 9   min_temperature  6755 non-null   float64
 10  humidity         6755 non-null   float64
 11  wind_speed       6755 non-null   float64
 12  precipitation    6755 non-null   float64
 13  uv_index         6755 non-null   float64
 14  condition        6755 non-null   object
dtypes: datetime64[ns](1), float64(9), object(5)
memory usage: 844.4+ KB